header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #004a80;
    color: white;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-container h1 {
    margin-left: 10px;
    font-size: 24px; 
  }
  
  .logo {
    height: 50px; 
  }
  
  
  body {
    margin-top: 70px; 
  }
  .about-us {
    background-color: #fff; 
    padding: 20px;
    margin: 20px auto;
    max-width: 800px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about-us h2 {
    color: #004a80; 
    text-align: center;
    margin-bottom: 20px;
  }
  
  .about-us p {
    color: #333; 
    line-height: 1.6; 
    margin-bottom: 20px; 
    text-align: justify; 
  }
  